<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>Player Library</title>
</head>
<body>

<div th:each="player: ${players}">
    <span th:text="${player.value.getName()} + ' ' + ${player.value.getPos()} + ' ' + ${player.value.getTeamName()}">
    </span>
<!--    <button type="submit" th:onclick="${player.setSelected(true)}" href="/myteam">Add to Team</button>-->
    <a th:href="@{'/myteam/' + ${player.key} + '/' + ${positionIndex}}"> Add to Team</a>
</div>
</body>
</html>